<div class="box">
    <h3>@ViewBag.Grid.GridTitle</h3>
    <table class="table w-100">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Book book in ViewBag.Grid.Books)
            {
                <tr>
                    <td>@book.Author</td>
                    <td>@book.AuthorGender</td>
                </tr>
            }
        </tbody>
    </table>
</div>