@{
    ViewData["Title"] = "About";
}
<h1>About</h1>

@{
    BookGridModel bookGridModel = new BookGridModel()
    {
        GridTitle = "Employees List",
        Books = new List<Book>()
                {
                    new Book (){ BookId=1,Author="Manford", AuthorGender= Book.Gender.Male},
                    new Book (){ BookId=2,Author="Manf0rd", AuthorGender= Book.Gender.Female},
                    new Book (){ BookId=3,Author="Chang", AuthorGender= Book.Gender.Male},
                    new Book (){ BookId=4,Author="Wenji", AuthorGender= Book.Gender.Other}
                }
    };
}

@await Component.InvokeAsync("Grid", new { grid = bookGridModel })

<vc:grid grid="bookGridModel"></vc:grid>

@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Language";
    listModel.ListItems = new List<string>()
    {

                "Chinese",
                "Japanese",
                "English",
                "Hindi",
                };

    await Html.RenderPartialAsync("_ListPartialView",listModel);
}