@{
    ViewData["Title"] = "About";
}
<h1>About</h1>

@await Component.InvokeAsync("Grid")

<vc:grid></vc:grid>

@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Language";
    listModel.ListItems = new List<string>()
    {

                "Chinese",
                "Japanese",
                "English",
                "Hindi",
                };

    await Html.RenderPartialAsync("_ListPartialView",listModel);
}