@{
    ViewData["Title"] = "ASP.NET CORE DEMO";
}

<h1>Home</h1>

@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Countries";
    listModel.ListItems = new List<string>()
    {

                "China",
                "Japan",
                "USA",
                "NZ",
                "Australia"
    };
}
<partial name="_ListPartialView", model="listModel"></partial>
