@{
    ViewData["Title"] = "ASP.NET CORE DEMO";
}

<h1>Home</h1>

@{
    BookGridModel bookGridModel = new BookGridModel()
    {
        GridTitle = "Books List",
        Books = new List<Book>()
                {
                    new Book (){ BookId=1,Author="Manford", AuthorGender= Book.Gender.Male},
                    new Book (){ BookId=2,Author="Manf0rd", AuthorGender= Book.Gender.Female},
                    new Book (){ BookId=3,Author="Chang", AuthorGender= Book.Gender.Male},
                    new Book (){ BookId=4,Author="Wenji", AuthorGender= Book.Gender.Other}
                }
    };
}

@await Component.InvokeAsync("Grid", new{grid=bookGridModel})

@{
    BookGridModel bookGridModel2 = new BookGridModel()
    {
        GridTitle = "Authors List",
        Books = new List<Book>()
                {
                    new Book (){ BookId=1,Author="VIM", AuthorGender= Book.Gender.Male},
                    new Book (){ BookId=2,Author="Will", AuthorGender= Book.Gender.Female},
                    new Book (){ BookId=3,Author="Ibsen", AuthorGender= Book.Gender.Male},
                    new Book (){ BookId=4,Author="Wenji", AuthorGender= Book.Gender.Other}
                }
    };
}

@await Component.InvokeAsync("Grid", new { grid = bookGridModel2 })


@* @{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Countries";
    listModel.ListItems = new List<string>()
    {

                "China",
                "Japan",
                "USA",
                "NZ",
                "Australia"
    };
}
<partial name="_ListPartialView", model="listModel"></partial> *@

<button class="button button-blue-back" type="button" id="button-load">
    Load Language List
</button>

<div class="box languages-content"></div>

<script>
    document.querySelector("#button-load").addEventListener("click",async function(){
      var response = await fetch("language")
     var languages= await response.text ();
     document.querySelector(".languages-content").innerHTML=languages;
    });
</script>